
{% extends "layout.html" %}
{% block content %}

 
 	<div class="mainlogindiv">

					<h1>Join Today </h1>
	
		<form method="POST" action=""  class=" ">
			{{ form.hidden_tag() }}

				
                                        <fieldset>
                                        <legend>Personalia:</legend>


						{{form.firstname.label}}
							<br/>
						{{form.firstname(size=32)}}
						{% for error in form.firstname.errors %}
        				    <span style="color: red;">[{{ error }}]</span>
            			{% endfor %}

						<br/><br/>




						{{form.lastname.label}}
							<br/>
						{{form.lastname}}

						<br/><br/>					

						{{form.username.label}}
							<br/>
						{{form.username}}

						<br/><br/>
				


						<!-- Note the class inside these are css elements classes being passed through for them --> 


						<!--the labels represent the variable name used for those fields in the  forms.py file -->
						{{form.email.label}}
							<br/>
						{{form.email}}

						<br/><br/>



					

						{{form.password.label}}
							<br/>
						{{form.password}}

					 	<br/><br/>


					

						{{form.confirm_password.label}}
							<br/>
						{{form.confirm_password}}

						<br/><br/>
					



				</fieldset>

				<br/><br/>

				<div class="">
					{{form.submit()}}
				</div>

		    </form>
	

		     

	    <!--the login for this -> {{url_for('login') }} calls the login function  -->
		
		<small class=" ">Already have an account? <a class=" " href="{{url_for('login') }}">Sign In</a>
	                 </small>


		</div>
		   
{% endblock content %}